{% extends 'base.html' %}
{% load static %}
{% block title %} Авторы {% endblock %}
{% block css_addition %}
<link rel="stylesheet" href="{% static 'book_app/css/style.css'%}">
{% endblock %}

{% block content %}
<h3>Список Авторов</h3>
<ul>
    {% for director in directors %}
        <li class="main_list"><a href="{{director.get_author}}">{{director}}</a></li>
    {% endfor %}
</ul>
<hr>
<br>
<h3>Список Авторов</h3>
<ul>
    {% for char in characters %}
        <li class="main_list"><a href="{{char.get_actor}}">{{char}}</a></li>
    {% endfor %}
</ul>
<hr>
{% endblock %}