{% extends 'base.html' %}
{% load static %}
{% block title %} Форма {% endblock %}
{% block css_addition %}
<link rel="stylesheet" href="{% static 'book_app/css/style.css'%}">
{% endblock %}

{% block content %}
<main>
    <form action="" method="post">
        <h2> Контактная информация </h2>
        {% csrf_token %}
        {% for field in form %}
        <div class="form_fields">
            {{field.label_tag}}
            {{field.errors}}
            {{field}}
        </div>
        {% endfor %}
        <button type="submit" class="form_btn">Отправить</button>
    </form>
</main>
{% endblock %}