{% extends 'base.html' %}
{% load static %}
{% block title %} Все фильмы {% endblock %}


{% block content %}
<main class="main">
    <h2>Список всех фильмов</h2>
    <ul>
        {% for book in books %}
            <li class="main_list"><a href="{{ book.get_book }}">{{ book.title }}</a>, рейтинг = {{ book.rating }},
                бестселлер - {{ book.is_best_selling }}</li>
        {% endfor %}
    </ul>
    <h4 class="add_info"> Максимальный рейтинг фильма - {{agg.rating__max}}</h4>
    <h4 class="add_info"> Минимальный рейтинг фильма - {{agg.rating__min}}</h4>
    <h4 class="add_info"> Количество фильмов на сайте = {{agg.title__count}}</h4>
    </main>
{% endblock %}